[2015-03-10 05:39] OmarElabd opened #1 "Add Getting Started Guide"

[2015-03-13 06:31] OmarElabd opened #2 "Intellisense for exporting Custom Expressions"

[2015-03-13 19:09] OmarElabd opened #3 "Convert UI to WPF (Remove WinForms Dependencies)"

[2015-03-26 16:24] OmarElabd opened #4 "Do not set values for private fields"

[2015-03-26 16:26] OmarElabd commented on #4
Seems like there is no way to detect whether the expression is private or not. I could introduce an option to exclude expression preceded with an underscore from the generated code.

[2015-03-26 16:26] OmarElabd opened #5 "Add support for exporting a Mock Object"

[2015-03-26 18:35] OmarElabd opened #6 "Export Specific Properties of an Object"
Let user chose which properties they wish to export through a nested checkbox list.

[2015-03-26 18:41] OmarElabd opened #7 "Convert UI to Visual Studio Window"

[2015-03-26 18:43] OmarElabd opened #8 "Performance issues when exporting object"
Reported performance issues when exporting large objects even under depth of 2.

[2015-03-26 18:47] OmarElabd commented on #8
Implementation of features #4 and #6 may increase performance.

[2015-03-26 19:33] OmarElabd opened #9 "Add elapsed time to progress bar"

[2015-03-30 18:45] OmarElabd opened #10 "Support for VS 2010"
In progress.

Note: Version of VS 2010, will not have support for the async await that is utilized in the vs 2012 and 2013 versions. Background worker or synchronous methods will be used instead.

[2015-03-30 18:48] OmarElabd opened #11 "Generate usings for created Object"

[2015-03-30 18:49] OmarElabd commented on #11
Usings make more sense with a class, not a generated object.

[2015-03-30 18:49] #11 closed

[2015-03-30 20:22] OmarElabd commented on #6
Can be solved using checkbox treeview, members can be limited to a number such as 100 or it can be children can be dynamically displayed when expanded.

However for the serializers to ignore specific properties, there would need to be some sort of boolean property extension to indicate to ignore this member for serialization. Lets examine the potential ways we can do this.

1. Extend the Expressio

[2015-03-31 17:32] OmarElabd opened #12 "Issues when exporting a collection of objects (typeof object) with different types"
Given some collection of type object, the collection members may be a different type other than object. However the code generated is not accurate.

Example:
[code]
when it should be:

[code]

*Note: There are some special considerations for exporting value types within an object collection
[code]

[2015-03-31 17:41] OmarElabd opened #13 "Add support for setting objects with reserved property/field names"
Example:

[code]

should be:

[code]

[2015-03-31 17:56] OmarElabd commented on #13
Validate locals vs custom expressions

[2015-03-31 17:56] OmarElabd commented on #12
Validate locals vs custom expressions

[2015-04-01 07:23] OmarElabd commented on #13
Fixed, this only appears to be an issue with the C# serializer. Xml and Json serializers have not been modified.

[2015-04-01 07:23] #13 closed

[2015-04-06 18:21] OmarElabd commented on #4
I may be able to examine the class to see if it has a public property or field. Note: even though property maybe public, check to make sure there isn't a private set;

[2015-04-07 04:34] OmarElabd commented on #4
Resolved by getting Type of object, and reflecting public fields and properties, maintain a dictionary of types, list of properties check each property. It would improve performance to check prepended underscores but that does not guarantee it is a private field as that is only a convention.

[2015-04-07 04:34] #4 closed

[2015-04-07 05:20] OmarElabd opened #14 "Replace .Parse() calls with object creation"

[2015-04-07 07:08] OmarElabd commented on #14
implemented

[2015-04-07 07:08] #14 closed

[2015-04-07 22:04] OmarElabd commented on #12
fixed

[2015-04-07 22:04] #12 closed

[2015-04-07 22:22] OmarElabd opened #15 "Display object depths for selected (or all items)"
This should help determine an appropriate object depth. Can display infinity if a recursive graph is discovered.

[2015-04-08 19:05] OmarElabd opened #16 "Add support for base properties"

[2015-04-08 19:08] OmarElabd opened #17 "Add depth solver to see object depths"
It would be nice to have a preview of the object depths to better select an appropriate Maximum Object Depth.

[2015-04-08 19:09] OmarElabd commented on #17
Added object depth solver with initial timeout of 20 seconds (async calculation) and cutoff of 25 depth. These settings are configuration through Tools -> Options -> Object Exporter

[2015-04-08 19:09] #17 closed

[2015-04-09 19:29] OmarElabd commented on #15
#17 duplicate.

[2015-04-09 19:29] #15 closed

[2015-04-09 19:29] OmarElabd commented on #16
Base properties are now set correctly.

[2015-04-09 19:29] #16 closed

[2015-04-09 19:31] OmarElabd commented on #8
Replaced text rendered from Telerik Rich Text Editor to Scintilla. As a result object exporting is 3-7x times faster. Performance is especially improved when exporting larger objects.

[2015-04-09 19:31] #8 closed

[2015-04-09 20:54] OmarElabd opened #18 "Add Send Error report on Failure"

[2015-04-10 14:32] OmarElabd opened #19 "Ignore known cruft such as Entity Framework proxies"

[2015-04-10 14:36] OmarElabd commented on #19
Better approach might be to ignore properties not inside class

[2015-04-10 23:03] OmarElabd commented on #19
Done by ignoring properties not inside class.

[2015-04-10 23:03] #19 closed

[2015-04-15 02:15] OmarElabd commented on #18
Using raygun for exception reporting. There is an option to disable exception reporting.

[2015-04-15 02:15] #18 closed

[2015-04-15 02:19] OmarElabd commented on #10
at this time maintaining two separate codebases is quite cumbersome especially since there is no async await support for .NET 4.0 which object exporter makes heavy use of. if there is enough interest from VS 2010 users we will re-add it.

[2015-04-15 02:19] #10 closed

[2015-04-15 04:29] OmarElabd commented on #1
added

[2015-04-15 04:29] #1 closed

[2015-04-20 03:17] OmarElabd opened #20 "FormatException: The string was not recognized as a valid DateTime. There is an unknown word starting at index 0."
Raygun report https://app.raygun.io/dashboard/cdlp9s/errors/752695690 has more details about the error

[2015-04-27 20:50] OmarElabd opened #21 "Add Support for Nullables"

[2015-04-27 20:51] OmarElabd commented on #21
implemented

[2015-04-27 20:51] #21 closed

[2015-04-27 20:53] OmarElabd opened #22 "Add Support for Enums"
For Xml and JSON this may involve getting the int value of the Enum.

For C#: This will involve setting the Enum value, which will require testing the property to determine if it is an Enum. This information can not be retrieved or deduced from the Expression, hence it will have to be determined from the Type.

Testing for enums may result in performance degradation.

[2015-04-27 20:55] OmarElabd commented on #20
Likely culprit is receiving a "Cannot evaluate expression" and attempting to parse it to a DateTime. Will need to investigate further.

[2015-05-05 15:40] OmarElabd opened #23 "Add option to ignore Entity Framework Proxy objects"
EF generates child members with types of System.Data.Entity.DynamicProxies
.Blog_5E43C6C196972BF0754973E48C9C941092D86818CD94005E9A759B70BF6E48E6, these properties have some change tracking properties for efficiency. This doesn't make for a pleasant type, so we'll ignore this derived object and use the parent object instead.

Will detect types with "System.Data.Entity.DynamicProxies" then use the

[2015-05-07 17:56] OmarElabd opened #24 "Issue with Scaling on Image Buttons"

[2015-05-29 01:37] robertbrooker opened #26 "DateTime with month twice"
I've seen output with the month twice for DateTimes.

I think this line of code might be questionable:

https://github.com/OmarElabd/ObjectExporter/search?utf8=%E2%9C%93&q=%22dateTime.Month%2C+dateTime.Month%22

[2015-05-29 02:01] OmarElabd commented on #26
It does look fishy indeed, i'll give it proper look tomorrow and apply the fix. Really appreciate you bringing it to my attention.

[2015-05-29 02:17] robertbrooker opened #27 "Not handling nullable DataTime correctly"
DateTime looks good:

    public class ObjectWithDate
    {
        public DateTime ADateTime { get; set; }
    }

            var objectWithDate = new ObjectWithDate
            {
                ADateTime = new DateTime(2015, 5, 29, 11, 45, 0),
            };

The export yields this (except the month issue, it looks good):
var objectWithDate = new MyNameSpace.ObjectWithDate
{
	ADateTime = new Da

[2015-05-29 02:21] OmarElabd commented on #27
Hey Rob, this is actually fixed in the Github code but it hasn't been release on the vs gallery yet. See issue #21. I'll make a release sometime this weekend with the new code.

[2015-05-29 02:21] #27 closed

[2015-05-29 02:24] robertbrooker commented on #27
OK, awesome, look forward to it.

[2015-06-08 18:35] dirq opened #28 "Add support for System.Collections.Hashtable"
If an object has a property of type Hashtable, the exported output is empty for that property:

new System.Collections.Hashtable
	{
	},

[2015-06-08 18:36] OmarElabd commented on #28
I'll look into this, are you sure it's not an issue with the depth?

[2015-06-12 02:45] OmarElabd opened #29 "Add setting to disable depth solver"
this would be on the settings page and would be a parent to the max time and max depth options, if this is deselected they would both need to be grayed out.

[2015-06-12 02:51] OmarElabd opened #30 "Add JSON and XML support for Dictionaries"
currently outputs:
	"Dict":
	[
		[
			"Key": "a",
			"Value": "apple"
		],
		[
			"Key": "b",
			"Value": "bear"
		],
		[
			"Key": "c",
			"Value": "couch"
		]
	],

should output:
   "Dict":
   {
      "a":"apple",
      "b":"bear",
      "c":"couch"
   },

[2015-06-24 16:46] OmarElabd opened #31 "Add Horizontal Scrolling to the Export UI for long variable names"
This is a Telerik issue which I reported here:

http://feedback.telerik.com/Project/154/Feedback/Details/155730-fix-radcheckedlistbox-when-the-allowarbitraryitemwidth-property-is-set-to-true

Once it has been fixed I will incorporate it into Object Exporter

[2015-06-29 19:33] OmarElabd opened #32 "Add preprocessing for Expression COM Objects to be copied into new Type"
Pros:
1. Errors can be detected earlier on
2. Cleaner Code
  a. Can move all the static methods into new Expression class
  b. Can now use foreach loops etc...
  c. Can now write some unit tests (Most important). And can use object exporter to export the project to test.

Cons:
1. Potentially longer execution time

Note: we are to some extent doing this already in the t4 templates.

[2015-06-29 19:46] OmarElabd opened #33 "Resolve Recursions with Multiple Exported Objects in C# Generator"
At the moment recursive objects are exported as is to a depth. In the C# generator we may be able to resolve recursive object references by generating these objects. This would require a change to the depth solver (and would probably require a C# depth solver and a JSON/XML depth solver).

We likely would not be able to do the same for XML/JSON since we output object values but can't link to anoth

[2015-06-29 20:15] OmarElabd commented on #33
To resolve circular references in JSON I could use the "$id" and "$ref" used by JSON.NET

[2015-06-29 20:30] OmarElabd commented on #31
Updated to Telerik 2015 Q2 which contained the fix. Had to set AllowArbitraryItemWidth to true.

[2015-06-29 20:30] #31 closed

[2015-07-02 19:49] OmarElabd commented on #30
Need to look at output when key is not a String but a non-value type object.

[2015-07-02 20:00] OmarElabd opened #34 "Add support for C# 6.0 Initializers"
This will need to be an option in the settings page to enable/disable. It's probably a good idea to enable it in VS 2015 by default and disable (by default) in earlier versions.

C# 6.0 Dictionary Initializer:
[code]

Pre 6.0:
[code]

[2015-07-17 20:01] OmarElabd opened #35 "OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown."
Raygun report https://app.raygun.io/dashboard/cdlp9s/errors/759164413 has more details about the error

[2015-07-17 20:02] OmarElabd commented on #35
This should probably throw a popup to the user informing them of the memory issue.

[2015-09-14 17:05] jeffklawiter opened #36 "Visual Studio 2015 - List Traversal broken"
Object Exporter in VS2015 seems to be broken when it hits generic lists. It will not traverse down them. I tested the same code in 2013 and it worked perfectly. Here's my test case

[code]

When I do an export with Max Object Depth = 7
Exclude private properties and fields = Checked

[code]

[2015-09-14 17:08] OmarElabd commented on #36
Thanks for reporting the issue Jeff. So the issue only appears in 2015? And for VS2013 it appears to work correctly?

I'll look into the issue asap.

[2015-09-14 18:00] jeffklawiter commented on #36
Yes, it works in 2013 but not in 2015. I'm up to date with all the extensions and updates.I have tested with Resharper disabled and also does not function properly.

[2015-09-14 18:01] OmarElabd commented on #36
Alright, just wanted to confirm. I'll look into this issue and update any information on this post. Once again thank you for the bug report and thanks for providing a good test case.

[2015-09-15 22:08] OmarElabd opened #37 "Debugger Values appearing in Variables"
Depending on how the code was executed, the value of a variable may be a warning message from the compiler.

List:
1. A type or generic instantiation needed to evaluate this expression does not exist in the process being debugged
2.

[2015-09-15 22:18] OmarElabd commented on #36
@jeffklawiter it seems like there may be something else at work here. Did you attempt running one in Debug mode vs Release mode or any other configurations?

I ran your testcase on vs2015 and received the following:

[code]

[2015-10-09 03:52] OmarElabd opened #38 "Add support for YAML as output"
requested by a user on extension site

[2015-10-15 15:36] frankhommers opened #39 "Properties with only getters are also generated for C#"
Some properties are getters only. When I generate my C# Object from and paste it into my code, that code doesn't work because these are not allowed.

(BTW, awesome project, a real time saver for unit testing!)

[2015-10-15 19:25] OmarElabd commented on #39
Hi @frankhommers , I really appreciate the feedback. I'm aware of this issue and while there really is no recourse, i'm working on warning the user about it and perhaps give them the option to continue while setting the values to null. I'm also looking into adding an option to ignore private getters along with non-public methods.

[2015-10-15 20:31] frankhommers commented on #39
This should do the trick in order to determine if you can generate code for a setter:
[code]
As described on http://stackoverflow.com/questions/3762456/c-sharp-how-to-check-if-property-setter-is-public

[2015-11-13 13:21] bolddp commented on #36
Are there any news on this issue, because I think it's related to mine. I'm using VS2015 Professional.
I get a whole bunch of illegal constructs and missing data when trying to export an object.

[code]
should be
[code]
An empty array is serialized as
[code]
which is exactly the same way it is represented in the built-in debug object browser...

If the array contains data it is instead serialized

[2015-11-13 13:47] jeffklawiter commented on #36
I'm still having the issue on multiple machines, but have been unable to determine the cause. It's happening on one installation with no extra extensions installed.

[2015-11-17 16:29] OmarElabd commented on #36
@bolddp sorry for the delay in responding to this, i don't believe your problem is related to the current issue. But i'm aware of the problem and it will be resolved soon. The codebase has been through a major refactor so i wasn't able to add new features/fix bugs for a while. I appreciate you reporting the problem, a new release should be out in two weeks which should hopefully address both issue

[2015-11-23 16:55] OmarElabd opened #40 "Support for VB.NET"
Add serialization support for VB.NET

[2015-11-23 16:55] OmarElabd opened #41 "Support for F#"
Add support for F#

[2015-11-23 17:05] OmarElabd commented on #26
Fixed, will be released with version 2.0 in December

[2015-11-23 17:05] #26 closed

[2015-11-23 17:09] OmarElabd commented on #32
Done as part of the refactoring effort

[2015-11-23 17:09] #32 closed

[2015-11-24 19:56] obscurerichard opened #42 "Please consider adding explicit license to ObjectExporter"
Would you consider adding a license file to this project? This would be consistent with good [community practices](http://wiki.opensource.org/bin/Projects/How+to+apply+an+open+source+license+to+your+project) and would allow others to build upon your work with a clear set of rules for what is acceptable.

For maximum compatibility with other free software projects, please consider using MIT license

[2015-11-24 20:17] OmarElabd commented on #42
Hi @obscurerichard. This is actually something I started to look into, I'm not very familiar with Open Source licensing so I just started to investigate the different licensing types. I really appreciate the request, once i'm better versed in the different open source licenses i'll definitely set one that makes sense for this project. If you have any suggestions for a license or have any resources

[2015-12-03 08:46] pawciut commented on #21
In version 1.2.4 nullable Guids are incorrect. They are present at C# code as
"new System.Guid?{	}" without property name to be assigned to.

example:

TypeCode = null,
new System.Guid?
{
},
TypeName = null,
Version = null,

[2015-12-03 08:54] pawciut commented on #21
or something like this:

Description = "Status główny",
DocumentId
Id
new System.Guid?
	{
	},
new System.Guid?
        {
	},

[2015-12-03 15:33] OmarElabd opened #43 "Add Support for Nullable Guids"
Reported by @pawciut:

In version 1.2.4 nullable Guids are incorrect. They are present at C# code as
"new System.Guid?{ }" without property name to be assigned to.

example:

[code]

or something like this:

[code]

[2015-12-03 15:34] OmarElabd commented on #21
Thanks @pawciut for bringing this to my attention. You are right, they are not being handled correctly. I've created a new issue #43 to address this.

[2015-12-08 04:16] obscurerichard commented on #42
Sure. Start here:

http://choosealicense.com/

Then read up on:

https://opensource.com/law/13/1/which-open-source-software-license-should-i-use

Then read the Open Source FAQ:

http://opensource.org/faq

Once you're done with that, I hope that you will choose a permissive license such as [the MIT license](http://opensource.org/licenses/MIT).

[2015-12-10 19:05] OmarElabd opened #44 "Issues with High DPI Scaling"
![image](https://cloud.githubusercontent.com/assets/8120729/11725295/9cc722d2-9f3e-11e5-9f53-93313671769a.png)

![image](https://cloud.githubusercontent.com/assets/8120729/11725303/a29cf4de-9f3e-11e5-89f0-e57994ab7a0b.png)

[2015-12-10 19:06] OmarElabd commented on #44
Looks like this can be addressed with the new Image Service. https://msdn.microsoft.com/en-US/library/mt628927.aspx?f=255&MSPPError=-2147217396

[2015-12-14 17:21] neshmonin commented on #42
Hi Omar,
You use Scintilla in your product, so you may consider to licence your product similarly, e.g.:
----------------------
Copyright-2015 by Omar Elabd

All Rights Reserved

Permission to use, copy, modify, and distribute this software and its
documentation for any purpose and without fee is hereby granted,
provided that the above copyright notice appear in all copies and that
both that copyr

[2015-12-15 14:35] obscurerichard commented on #42
The Scintilla license suggested above looks very similar to me to the MIT license, though reworded. If it were my decision I'd go with the MIT license as it is widespread and well understood. If in doubt, consult your counsel, as I'm not a lawyer, and this is not legal advice :)

[2015-12-15 16:55] neshmonin commented on #42
Dear Omar,
I joined this request because I'm considering to recommend your ObjectExporter for use in my team. However, since you have no assigned license, the product must be treated as copyrighted.
Please let me know if you are considering to grant no distribution rights to the product - so I'll be looking into some alternatives.

Thanks,

Alexander ;o)

P.S.: I'd also recommend you to issue at l

[2015-12-15 17:10] OmarElabd commented on #42
@neshmonin are you planning on extending the software or do you simply wish to use the software as is on your team? If you wish to use it as is, then via the visual studio gallery that grants you the right to use it for commercial or non-commercial purposes. If you wish to extend and use it distribute it that is fine too, the only thing i'm still in consideration about is whether it would be ok to

[2015-12-21 08:03] StonePit opened #45 "Base class properties"
Please add (option) for base class properies

[2015-12-21 15:38] OmarElabd commented on #45
Currently it sets the base class properties of an object, did you want an option to ignore setting that?

[2015-12-22 07:49] StonePit commented on #45
Hi Omar, I found that it was not working in VS2012 but in 2015 works, it's sets the base class properties.
Another thing I found, some of propeties are not generated correctly (only initializer) see att. property Warehouse or RequestedDateTime (compare this two pics). Your tool realy saves a lot of time, thanks in advance Omar.
![obj1](https://cloud.githubusercontent.com/assets/16380405/11950327/a

[2015-12-22 15:51] OmarElabd commented on #45
That's interesting, i'll look into why it's having issues in 2012. As for RequestDateTime, that's currently an issue with Nullables that has been fixed but hasn't been release yet, look for a major release after the Holiday break that should address both those issues.

I'll close this issue and open a new one regarding inconsistent visual studio versions, there's already one regarding nullables.

[2015-12-22 15:51] #45 closed

[2016-01-08 23:14] OmarElabd opened #46 "Replace usage of EnvDTE.Expression with IDebugProperty"
EnvDTE.Expressions provides limited information which is required by some of the new Object Exporter features.

[2016-01-18 03:45] miczdem opened #47 "Object initializer missing property assignemnt"
Using VS2015 and C#6

Code generated:
[code]
Should be:
[code]

[2016-01-20 04:24] OmarElabd opened #48 "Add support for visual studio theme awareness"

[2016-01-21 18:48] OmarElabd commented on #2
"Generally, the way it works is 1 - You create an editor window inside your custom control 2 - Once the debugger is stopped at a breakpoint, you query for the current document + line number + language from the debugger 3 - You ask the language service for a IVsImmediateStatementCompletion2 interface, and then tell that interface to install the statement completion service to your editor control. 4

[2016-01-22 22:47] OmarElabd commented on #47
Hi @miczdem, thank you for taking the time to post this issue, I'm currently aware of this issue and working to resolve it in an upcoming major update.

[2016-01-24 00:51] miczdem commented on #47
Hi @OmarElabd, you're welcom.!  Thanks for creating and maintaining this awesome tool.  It has saved me a lot of time generating objects for unit tests.  Looking forward to v2!

[2016-02-05 13:39] biiiipy opened #49 "Class with inheritence from List<T> not generating C# code"
The inherited list class is empty when generating from this class:

[code]

[2016-02-05 14:44] OmarElabd commented on #49
Hey @biiiipy thanks for taking the time to report this issue, would you be able to clarify a little more about the problem you're having?

From my understanding if you have a class inheriting a List, the properties under that class are not generated? Or are there no other properties for class?

If you try incrementing the max depth that may fix the issue.

[2016-02-29 07:11] kwhitefoot commented on #38
I agree with the requester.  YAML would be very good because it is especially well suited to diff-ing, especially when compared to XML, because it has very little noise.

[2016-02-29 07:41] kwhitefoot commented on #42
Have you decided on a licence yet?  My personal preference is for GPL3 so that anyone using it commercially would be required to provide their bug fixes and improvements.  But really it just has to _have _a licence.  If you don't specify a licence then a lot  of people, especially those who might want to incorporate it in their own commercial application, will be reluctant to contribute because it

[2016-03-02 19:45] OmarElabd commented on #42
@kwhitefoot I've taken your suggestion and licensed the code under GPL3. It was something I was leaning towards. Hopefully this makes things a lot easier for anyone wanting to use the code.

[2016-03-02 19:45] #42 closed

[2016-03-07 14:04] LRomano72 opened #51 "Private objects are included even if "Exclude Private" is selected"
Example of what is produced:
		AcquiredImageData = new System.Collections.Generic.List<MedAvail.Data.Messages.Dispense.AcquiredImageData>
		{
		},
		BarCodeSummary = new System.Collections.Generic.List<MedAvail.Data.Messages.Dispense.BarCodeData>
		{
		},

...
		_AcquiredImageData = new System.Collections.Generic.List<MedAvail.Data.Messages.Dispense.AcquiredImageData>
		{
		},
		_BarCodeSummary =

[2016-03-07 14:05] LRomano72 opened #52 "Enum's should have there Class name included"
Example:
	Activity = Idle,
	MovementType = Place

...should be:
	Activity = MedCenter.Idle,
	MovementType = MovementType.Place
etc.
Thanks!

[2016-03-07 16:11] OmarElabd commented on #52
related to #22

[2016-03-07 19:22] OmarElabd commented on #51
Hey @LRomano72, thanks for reporting the issue. Are _AcquiredImageData and BarCodeSummary listed as anything other than private? do they have any other special modifiers?

[2016-03-07 19:48] LRomano72 commented on #51
Hi Omar,
They are in a DTO class that can be used for serialized messages using both .NET and ProtoBuf, example below: But in the end they are just public items backed by private fields.
[Serializable]
    [ProtoContract(Name = @"PickResponse")]
    [DataContract(Name = @"PickResponse")]
    public class PickResponse
    {
        private List<AcquiredImageData> _AcquiredImageData = new List<Acqui

[2016-03-09 16:19] constructor-igor opened #53 "VS2013 cannot build the solution with "incompatible" message."
VS2013 cannot build the solution with "incompatible" message.
Please, could you help to solve the issue?

![image](https://cloud.githubusercontent.com/assets/1849690/13641969/4858af78-e623-11e5-84c8-f8e34d9de77b.png)

[2016-03-09 17:24] OmarElabd commented on #53
Hey @constructor-igor, i updated the VsPackage project to Visual Studio 2015 a while back. I'm not sure what the best way to open it in 2013 would be, since it's a one way upgrade. You can try editing the .csproj file and setting the .NET version to 4.5, or you can try to make a new Visual Studio Package project and copy all the files to that project.

[2016-03-09 19:04] constructor-igor commented on #53
understood.
Changed attribute **MinimumVisualStudioVersion**
In any case, solution contains new features of c#, like this
[code]
and VS2013 cannot compile them.

![image](https://cloud.githubusercontent.com/assets/1849690/13646836/fe56923e-e639-11e5-882e-95c43db5dd38.png)

in any case, thank you for your fast response.

[2016-03-09 19:04] #53 closed

[2016-03-11 23:40] RupertAvery opened #54 "Array Traversal Broken"
Given the following classes:

[code]
This will generate an object graph, but the MiddleArray property will be an empty array.

After debugging, it looks like it fails the ruleSet PropertyInClassRuleSet, the expressionType is "ConsoleApplication1.Middle[]" and the dataMemberPropertyName is [0]. Since the return value of the GetProperties on an array returns the Array type properties, it fails.

[2016-03-14 16:34] pgrm opened #55 "Error when attempting to export objects."
I'm getting seemingly random errors when I try to export an object. Some complex objects work, others don't and than I get this error also when I try exporting a `DateTime` value.

Any chance I can see the underlying exception? Thx

[2016-03-14 16:55] OmarElabd commented on #55
@pgrm not at the moment unfortunately, but i'm fully aware of the issue. The problem is that an invalid string such as "Cannot evaluate expression" is retrieved from the debugger and it's attempted to be cast as a DateTime, this causes the exception.

You might want to ensure that you are exporting the object in DEBUG mode, and make sure that the "Optimize code" is unchecked (it is by default).

I

[2016-03-14 17:36] pgrm commented on #55
Ok, thx for the info. Just one comment, I could see the values in the
visual Studio debugger. Or is that irrelevant?

On Mon, Mar 14, 2016, 17:55 Omar Elabd <notifications@github.com> wrote:

[2016-03-14 18:22] OmarElabd commented on #55
Hmm, what type of object are you attempting to export? Is it a simple POCO? If the object has properties that are from different assemblies those might use a DateTime that couldn't be evaluated. If you can see all the values in the debugger then something else is going on.

[2016-03-14 18:36] pgrm commented on #55
ok, so I have 2 simple `DateTime` objects which don't work.

And I have some Entity Framework (EF6) models which also don't work. The later is either single objects or also `IEnumerable<T>` converted `.ToArray()`. And I've also managed to convert one EF6 model after changing the max depth allowed to 0 or 1. And it seemed to have been exported correctly, but I'll check tomorrow one more time, to be

[2016-03-14 18:48] OmarElabd commented on #55
EF6 models are another thing which i'm working on (see #23), because Entity Framework will add dynamic proxies to an object. You can try disabling the Dynamic Proxies and try re-exporting the object and see if that works.

More information:
https://msdn.microsoft.com/en-us/data/jj592886.aspx?f=255&MSPPError=-2147217396

[2016-03-15 08:42] pgrm commented on #55
ok, thx for the info on the EF issue - I guess that's my biggest pain. I think other poco did work and if the two datetime fields don't work I can live with that. That much I can copy paste from the debugger.

[2016-07-21 07:50] georgeZakaryan opened #56 "Can't resolve reference graphs with circular references."
Consder the following types:

[code]
Whenever trying to calculate depth in such cases, and whenever trying to export such objects. The plugin works very long and then crashes along with Visual Studio.

[2016-07-21 15:16] OmarElabd commented on #56
The depth solver has two options for stopping the depth calculation, one is level (default 25) and the other is timeout (20,000 ms). Can you double check these settings? You can also try adjusting them (Maybe a cutoff of 5 instead of 25).

![image](https://cloud.githubusercontent.com/assets/8120729/17028064/eb3d0bfa-4f2b-11e6-9daf-cfdb8595dff4.png)

I'll try and see if I can't replicate the issue.

[2016-07-22 11:09] georgeZakaryan commented on #56
Hi OmarElabd,

I noticed those settings. When I specify a Maximum Depth Cutoff - let's say, with 3, the object exporter dialog successfully calculates "depths" for my objects and gives me ">3" as a result. But when Exporting, the plugin still runs indefinitely and crashes.

I know this is very specific to the data that I have in my application. And your plugin is really useful, it's just that you

[2016-09-21 12:58] halotron opened #57 "Generating objects - use more than one thread"
It takes a considerable time to serialize some objects graphs. It would be nice if the serialization could be paralellized.

[2016-09-21 14:39] OmarElabd commented on #57
@halotron that's a very good idea to have multiple threads work to serialize the child objects. It certainly is a task that seems like it can be parallelized, but since the object that i use to serialize is a com object taken from the visual studio debugger there may be some issues with running multiple threads. I'll have to investigate and see if it's possible.

Are you running object exporter on

[2016-09-21 14:51] halotron commented on #57
Ok. Well I capped it to level 2 and had to abort it since it took too long to complete. They are not very complex EF-objects with some lazy loading going on I think. I cant really switch lazy loading off just for serialization. But since the load was 100% on one core only I guessed there could be room for some paralellization.

[2016-10-27 10:53] renato04 opened #58 "nullable DateTime isn't generating correctly"
Hi,

I hava a class with `DateTime?` and it is generating this way

[code]

And i know that `DateTime` is generating correctly like this

[code]

Is this a bug or is this an expected behaviour?

Thanks

[2016-10-27 14:05] OmarElabd commented on #58
Hi this was actually fixed but never made it into production ( #21 , #27 ). The fixes were included in a re-architected version of Object Exporter that i'm still working on. I'll go ahead and release some of these minor bug fixes to version 1 in the next couple of weeks.

Thanks for reporting the issue.

[2016-11-03 15:39] Pecral commented on #57
@OmarElabd Do you think that the performance is related to the usage of the Env.DTE expression interface instead of the IDebugProperty2/3 mentioned in #46?

I'm currently working on a project which uses the Env.DTE expression too and I've got some performance problems as well as problems in separating the expensive work into a second thread so that my interface doesn't get blocked. I've never work

[2016-11-04 13:01] OmarElabd commented on #57
Hey @Pecral, I'm not sure if switching to IDebugProperty will significantly affect performance since they are both com objects. I would recommend creating C# objects from values retrieved from the Env.DTE or IDebugProperty com objects (might need to set a depth max). Constructing the C# objects can probably be parallelized using more than one or two threads. One you have representative C# objects,

[2016-11-05 18:04] vurso opened #59 "Unable to start Object Explorer in Visual Studio"
Hi when starting visual studio an error is displayed stating the add-in could not be loaded.  I found the following information when I checked the activity monitor log:

17:51:13.373
222 ERROR LegacySitePackage failed for package [ObjectExporter]Source: 'ObjectExporter' Description: Could not find SciLexer.dll - This is unmanaged assembly is required by ScintillaNet.dll System.DllNotFoundException

[2016-11-05 18:11] vurso commented on #59
625 ERROR LegacySitePackage failed for package [ObjectExporter]Source: 'ObjectExporter' Description: Could not find SciLexer.dll - This is unmanaged assembly is required by ScintillaNet.dll System.DllNotFoundException: Could not find SciLexer.dll - This is unmanaged assembly is required by ScintillaNet.dll at ObjectExporter.VsPackage.ObjectExporter.LoadUnmanagedLibraries() at ObjectExporter.VsPack

[2016-11-05 20:04] OmarElabd commented on #59
Hi @vurso ,

SciLexer.dll is used by ObjectExporter, it should have been installed when you installed the .vsix project. May i ask what version of Visual Studio are you using?

I quick fix is putting [SciLexer.dll](https://github.com/OmarElabd/ObjectExporter/blob/master/ObjectExporter.VsPackage/SciLexer.dll) in the extension path C:\Users\<UserName>\AppData\Local\Microsoft\VisualStudio\<version>\E

[2016-11-06 21:49] Pecral commented on #57
Hey @OmarElabd, yes you're right, that's the way my extension works currently. Once the representative C# objects are created, the performance is fine because the data is cached. The problem occurs when querying 100+ expressions plus their child-expressions (i.e. a large list of complex objects), which has to happen in one feature of my program. My attempts at parallelization as well as preventing

[2016-11-11 00:58] vurso commented on #59
Hi @OmarElabd I checked the installation location all the files seemed to be there and I also tried to copy over the SciLexer.dll still no luck.

The first environment is a Windows 2008 R2 server with Visual Studio 2015 Community Edition with the latest updates.

The second environment is a Windows 10 Pro laptop with Visual Studio 2015 Community Edition.

Both environments experience the same issu

[2016-11-11 21:22] chking999 commented on #59
I'm getting this same error after I install Object Exporter to VS 2015.

[2016-11-11 21:32] OmarElabd commented on #59
@chking999 What edition of VS 2015 are you using? Community as well?

[2016-11-11 22:16] chking999 commented on #59
Using Visual Studio Professional 2015
Version 14.0.25431.01 Update 3

Christian King
www.chking.com

On Fri, Nov 11, 2016 at 3:32 PM, Omar Elabd <notifications@github.com>
wrote:

[2016-11-15 11:41] praschl opened #60 "C# generation of DateTime is broken at month/day"
For DateTime, the C# generator adds
year, month, month, day, hour, minute, second
instead of
year, month, day, hour, minute, second, millisecond

Demo Class:
[code]

Initialisation:
[code]

Generated Code:
[code]

[2016-11-15 11:45] praschl opened #61 "CSharp generation outputs duplicate "result =""
When generating C# code, the output begins with
var result = result = new Whatever {};

[2016-11-23 05:07] fpintos opened #62 "Provide a nuget package of the core implementation, so one can include it in other apps."

[2016-11-23 05:10] OmarElabd commented on #62
Could you clarify on what you mean by providing a nuget package? As this is a visual studio extension what purpose would a nuget package serve? Do you have an example or use case in mind?

[2016-11-23 05:11] fpintos opened #63 "Public fields are not being exported, even when I uncheck the option in the UI."

[2016-11-23 05:12] OmarElabd commented on #63
The option in the UI was for private fields not public fields. Could you give an example of the object you are attempting to export and what the object exporter output was?

[2016-11-26 00:24] fpintos commented on #63
Hi, thanks for looking at this.

One simple example I have is a data type that is generated by wsdl, like this:
[code]
The output goes like this (with namespaces removed and the expression simplified):
[code]

In other types, public fields that are arrays do seem to be picked up.

[2016-11-26 00:28] fpintos commented on #62
I was looking for a nuget package that would write to a text writer the same kind of output that Object Explorer shows in its output window.
I would imagine that you have a core engine that produces that text, and that could be a reusable package.

A sample scenario would be to do something like:
[code]

[2016-11-30 16:03] NeverGetsCreditDev commented on #60
Curious when 1.4 will be released?
Have objects with lots of dates, and having this vary issues. manually fixing for now.

What you created is what i've been looking for, thanks.

[2016-11-30 16:48] NeverGetsCreditDev opened #64 "KeyValuePairs does not recognize the Key and Value properties"
Having issues with KeyValuePairs, no getter or setter, on Key and Value.

                HoursByDate = new System.Collections.Generic.Dictionary<System.DateTime, decimal>
	{
		new KeyValuePair<System.DateTime,decimal>
		{
			Key = new DateTime(2015, 12, 23),
			Value = 85.14m
		},
		new System.Collections.Generic.KeyValuePair<System.DateTime,decimal>
		{
			Key = new DateTime(2015, 12, 9),
			Val

[2016-12-09 14:16] seba-0 commented on #59
Same thing here. VS 2015 Enterprise Update 3, Win 10 x64 Enterprise. I debugged this and reason for this message, at least in my case, is because call to LoadLibrary fails with error 0x0000045A ERROR_DLL_INIT_FAILED. Scintilla dll exists and extension is correctly determining path to it.

[2016-12-13 13:02] gradec1999 opened #65 "Add support for VS 2017"
When we can expect support for VS 2017?

[2016-12-14 06:39] OmarElabd commented on #60
This issue is resolved as of 1.4.1, you should be able to update from visual studio

[2016-12-14 06:39] #60 closed

[2016-12-15 17:36] Sheffer commented on #23
I'm trying to look into this matter (I really need this feature in my day to day work).
But I'm stuck on getting transformedText = "\r\n\"company\": Internal error retrieving local value."
in GenerateText in ExportGenerator.cs.   I have tried to debug the templates but that is not getting me anywhere (I have never debugged T4 templates before). I can debug the other code just fine, only templates

[2016-12-15 18:04] OmarElabd commented on #23
Hey @Sheffer, I'm not sure what you mean by getting ```transformedText = "\r\n"company"``` could you post an example of the code you are trying to generate and what the object exporter generates?

If your issue is with Entity Framework specifically you can disable EF proxy generation through an option in your code.

see https://msdn.microsoft.com/en-us/library/jj592886(v=vs.113).aspx

But that wou

[2016-12-15 18:09] OmarElabd commented on #65
@gradec1999 it seems for 2017, it's no longer as simple as specifying that the vsix is compatible with 2017, the project needs to be migrated to VS 2017. I'll keep you posted as I investigate further.

[2016-12-16 00:44] batcoder619 opened #66 "Takes a lot of time to calculate for larger objects"
Have a few lists with more than 100 items and it keeps calculating the number of objects. Nothing seems to happen further

[2017-01-28 07:39] vurso commented on #59
This is still an issue.  Brand new laptop (Windows 10 Professional X64), McAfee AV installed, Visual Studio 2015 Professional with ReSharper (latest version), no other add-ins same error when Visual Studio starts up.

[2017-01-28 17:32] OmarElabd commented on #59
@vurso do you have any other language packs installed except English? Either in Visual Studio or on Windows?

[2017-02-03 14:18] ac-erlang opened #67 "Cannot see menu item in Tools"
Looks like a great tool for unit testing.

I installed on my main machine running VS 2015 pro (Administrator)

Also I tried on my laptop, running community edition.

Neither show the menu item.  Please help?

Thanks

[2017-02-03 14:20] OmarElabd commented on #67
@ac-erlang Are you debugging your code and stopped at a breakpoint?

[2017-02-03 14:23] ac-erlang commented on #67
Ah ok - thanks!

[2017-02-03 14:23] #67 closed

[2017-02-03 14:34] ac-erlang opened #68 "nullable types"
Great tool - Thanks

Seems to struggle with nullable types though

[2017-02-03 14:36] #68 closed

[2017-02-06 10:42] vurso commented on #59
@OmarElabd hi nope its a clean Windows 10 Professional environment on my work laptop.  I used the MSDN subscription given to me by my manager to download Visual Studio 2015 Professional Edition.  I then installed the latest version of ReSharper and ApexSQL.

It is still showing that error message regardless of whatever I try (I do start VS in Administrator mode).

[2017-02-14 20:42] mikejr83 commented on #56
Is it possible to perhaps have another type of export, NewtonsoftJson? It has the ability to generate JSON which when serialized will provide the information necessary to deserialize the object graph with the circular references.

[2017-02-14 21:23] OmarElabd commented on #33
xml can also use the ref="" attribute

[2017-02-14 21:26] OmarElabd commented on #56
Hi @mikejr83, it is possible to resolve circular references in C#, JSON and XML. See #33 for more details. This would require a big change to how the objects are currently serialized, but it's definitely on the horizon.

[2017-02-22 13:24] OmarElabd opened #69 "Implement Interactive Exporting"
The idea would be that a level-1 export would display (should be very fast), then the user would interactive select which fields they wished to explore further.  this could be done by creating "code folds" in the text editor and expanding a code fold will generate the child's level-1 code.

Code, JSON or XML could be generated on the fly

[2017-03-02 13:15] OmarElabd commented on #65
Added support for vs 2017

[2017-03-02 13:15] #65 closed

[2017-03-02 13:16] OmarElabd commented on #59
External dlls are no longer loaded by object exporter, so this should no longer be an issue.

[2017-03-02 13:16] #59 closed

[2017-03-02 13:16] OmarElabd commented on #58
Fixed

[2017-03-02 13:16] #58 closed

[2017-03-02 19:32] seba-0 commented on #59
Just to mention with release 1.7.0 issue is resolved for me. Thanks.

[2017-03-02 19:32] OmarElabd commented on #59
@seba-0 excellent, glad to hear it.

[2017-03-28 10:19] filippobottega opened #70 "XML Parsing Error: not well-formed"
Hello!
I'm trying to open the XML generated by ObjectExporter but the name of nodes are not well-formed because they contain invalid chars.
For example:

`
<System.Collections.Generic.ICollection<string>.IsReadOnly>`

The inner < and > of <string> are not allowed. For this reason the XML is not well-formed.

Another problem is the tag <> and </> because the name is missing. Is it possible to use <

[2017-03-28 12:41] filippobottega opened #71 "JSON Parsing Error: not well-formed"
Hello!
I'm trying to open the JSON generated by ObjectExporter but the JSON is not well-formed.
For example it contains {object} as value.
I have attached the JSON content: [Sample.json.txt](https://github.com/OmarElabd/ObjectExporter/files/875647/Sample.json.txt).

Best regards,
Filippo.

[2017-05-10 15:00] vurso commented on #59
Latest version works great good work bro!

[2017-06-18 15:14] AndrewGumenyuk opened #73 "Array inside the object cannot be deserialized to set of objects"
As for me, I have an array of objects that involve themselves in an array of objects.

Example,
Node
{
        Child[] Childs { get; }
}
So, as a result, this array won't be deserialized and I will get an empty array

But if I have a list this works and these objects are deserialized.
Thanks, best regards

[2017-07-27 15:57] gioce90 commented on #47
Hi! I have the same issue! Isn't resolved yet?

[2017-08-28 23:09] paulorb commented on #66
I am having the same issue, I have a List of Objects with 18K items and it is still "Generating Objects" it is running for 10 minutes here, the generation of the objects never ends.

[2017-10-22 23:51] samiraguiar commented on #66
@OmarElabd is it possible to make it give incomplete outputs? For example, before going one level deeper it could output what it already have and update the whole view everytime a new level is completed.

[2017-12-12 11:34] Shalxxx opened #74 "Mockup"
Feature request:
HI, I love the app, but most of ours testing objects are unaccessible.
It would be fine if the app was also able to create mock ups for NSubstitute or FakeItEasy frameworks.

[2018-02-01 08:08] ghost opened #75 "Basic Dictionary doesn't work when starting from Unity3D runtime"
[code]

result:
[code]

Visual Studio 2017 Community
ObjectExporter 1.7.0
Runtime is started using the Unity3D engine (.NET 2.5)
What am I doing wrong?

[2018-03-16 15:14] jeanluc33 opened #76 "Write object initialization code for c# object, not expression (for more general application to c# projects)"
I notice in the  ExportGenerator.cs class there is a method, GenerateText(Expression expression, ExpressionSourceType source) that can generate object initialization code from an expression.

Is there a straightforward way to do this from a c# object, like this:  GenerateText(Object object, ExpressionSourceType source)

In this way, assuming dependencies could be limited, ObjectExporter could be h

[2018-03-20 20:03] OmarElabd commented on #76
Currently ObjectExporter does not use reflection to generate the C# serialized text, so at the moment there wouldn't be anything where you could serialize an object directly to C#. I have thought about creating something like this in the past, but i did not think it would be useful for anyone.  Did you have any particular use cases in mind for such a package?

[2018-03-20 20:51] jeanluc33 commented on #76
Here's my use case.

Use Case for Serialization Objects to C# initialization code -- For Applications involving Dummy Middleware Implementations (Generate initialization code to allow code isolation on legacy code, integration/unit tests)

Essentially, what this gives us compared to existing approaches is a level of automation.  Suppose we have Middleware that retrieves data from external applicat

[2018-05-15 13:45] Sergey-Terekhin opened #77 "Not working for large arrays in VS 2017"
Hi!
I try to dump some object with large byte arrays (~30k of elements) - image data
When I try to select such object in object selector window, I see message box from Visual studio:

![image](https://user-images.githubusercontent.com/5369802/40060370-14d1ce5e-585f-11e8-8ac8-9d10d44eaef7.png)

And after that error message and debugging stops:
![image](https://user-images.githubusercontent.com/5369

[2018-06-15 09:10] theBlueclouds opened #78 "unable to find on Tools bar"
Installed the extension but not appearing on tool bar. In extension and updates, it is mentioned as enabled.

[2018-06-15 09:42] Kabennsky commented on #78
Ever read the instructions??

**Instructions**
Object Exporter is accessed through the tools menu and is only visible when you are debugging and stopped at a breakpoint.

[2018-06-15 09:49] Kabennsky commented on #66
Same Problem... A list with 175 Items and each has a list with 10 items in it. So about 2000 element. That shouldn't be a problem. It takes over 10 minutes just to serialize the first 2 levels. Nice Idea this Tool, but way to slow. And i don't understand why.. A normal XML/JSON Serialization is done in seconds.

[2018-06-20 11:58] Kabennsky commented on #51
Same Problem, private fields printed out even with the ExcludeCheckBox checked. Will this be fixed one day?

[2018-06-20 12:10] Kabennsky opened #79 "Empty XML Element Tags under System.RuntimeType"
An Empty XML Element Tag is generated **<> </>** when having a memper of type **Type** in Class.
Like:
[code]
Part of Output XML:
[code]

That's not well formed XML!

[2018-08-06 23:42] seanfrisbey opened #80 "Make it available as a tooltip on hover"
I know this could be significantly difficult, but figured I'd throw it out as a requested feature!

[2018-08-06 23:43] seanfrisbey opened #81 "Make generated window NOT steal focus"
I would love to be able to have it open and still scroll around and such.

[2018-08-06 23:43] seanfrisbey opened #82 "Make Generated Export Refreshable"
Please ^_^

[2018-09-04 04:21] talanc opened #83 "Export Objects doesn't work in test projects"
When you click on `Export Objects` in a unit test it just hangs indefinitely. You can't recover Visual Studio and you have to kill the process.

[2018-12-27 20:37] ToddTaylor opened #84 "Visual Studio 2019 Install Failing"
When attempting to install the Object Exporter in Visual Studio 2019 (16.0.0 Preview 1.1), an error occurs with the following message:

`12/27/2018 2:32:30 PM - Extension cannot be installed to the following products due to missing prerequisites:
12/27/2018 2:32:30 PM - 	Microsoft Visual Studio Enterprise 2019
12/27/2018 2:32:30 PM - 		-------------------------------------------------------
12/27/

[2019-02-07 19:21] ToddTaylor commented on #84
The fix is very simple... just some minor tweaks to the .vsixmanifest:

https://blogs.msdn.microsoft.com/visualstudio/2018/09/26/how-to-upgrade-extensions-to-support-visual-studio-2019/

[2019-03-25 12:56] robalexclark commented on #84
Hi - can you please provide an updated build for 2019 as I tried the fixes suggested but couldn't get it to compile.

[2019-03-25 17:57] OmarElabd commented on #84
I will try and provide a 2019 build in the next couple of weeks.

[2019-04-11 10:07] goyaweb commented on #55
I'm getting this error for every object I try, even a simple string.
Using vs.net 2015.

[2019-04-30 00:52] dharmaturtle commented on #84
Dunno if this is in bad taste, but in the meantime I've been using this, which works at runtime instead of being a plugin.

https://www.nuget.org/packages/ObjectDumper.NET/

[2019-05-01 13:18] ibyet05 commented on #84
It is not enough to change .vsixmanifest only. You should do same things for  **catalog.json** as well.

[2019-05-15 03:01] mzhukovs commented on #84
I can't install for VS2019 either:
![image](https://user-images.githubusercontent.com/13161978/57745710-ca584a80-7700-11e9-9970-5f857fd733a8.png)

[2019-06-05 10:43] Lechus commented on #40
still open?

[2019-06-25 16:38] keyle56 commented on #84
Hi! Is there any update on when the extension will work "out of the box"?

[2019-07-04 03:05] sehuff commented on #84
I updated the file - but it appears I need a license to Telerik.WinControls.dll in order to do the build?

[2019-07-04 03:26] sehuff commented on #84
Nevermind my last comment I just had to unblock the downloaded files before the build.  However, I know have the same issue as mzhukovs - prerequisites that cannot be resolved.

[2019-08-15 17:48] domusvita-zz commented on #84
Looks like a pull request has been pending for a little over a week that might fix this issue. Hopefully gets merged soon.  Looks like a great product.

[2019-10-01 09:24] maxcl10 commented on #84
Is there any news on this topic. When installing the extension only vs2017 is proposed.

[2019-10-09 14:45] vurso commented on #84
Is this fixed? I tried the latest version and sadly it doesn't work in VS2019 such a shame

[2019-10-09 18:50] ldy985 commented on #84
I compiled a version using one of the pull requests:
[ObjectExporter.zip](https://github.com/OmarElabd/ObjectExporter/files/3708957/ObjectExporter.zip) it should work fine with VS2019.

[2019-10-31 08:46] krs4444 commented on #84
Thank you, this one works on VS2019 Community Edition too!

[2020-02-16 22:43] vurso commented on #84
Someone should fork this project (with the fixed version).

[2020-03-05 15:36] SteGriff commented on #84
Instead of rebuilding, you can also hack the vsix:
* Change the extension from vsix to zip, and unzip it
* In both `manifest.json` and `catalog.json` find `CoreEditor` and replace that key-value pair with `"Microsoft.VisualStudio.Component.CoreEditor":"[15.0,17.0)"`
* In `extension.vsixmanifest` replace the content of the `Installation` XML node with:

[code]

Hope it helps someone :)

[2020-03-09 19:48] breadshort commented on #84
Still can't install the extension:
error `"This extension is not installable on any currently installed products."`
Installation log:
[code]

[2020-03-10 15:36] SteGriff commented on #84
@breadshort, what version and edition of VS are you installing it into? Add the version numbers and editions to manifest.json, catalog.json, and extension.vsixmanifest, as described above.

[2020-03-10 16:03] breadshort commented on #84
2017 Enterprise 15.9.20 (trial)
2019 Community 16.4.5
2019 Pro 16.4.5 (trial)
2019 Enterprise 16.4.5 (trial)

I did everything that @SteGriff described (see attached file [ObjectExporter.zip](https://github.com/OmarElabd/ObjectExporter/files/4313414/ObjectExporter.zip)
)
still can't install the extension (same error)

UPD: I think that some people don't work on my VS - I can't install the Microsof

[2020-03-13 12:03] x123-design commented on #84
@SteGriff thanks for the tips but I double click the ObjectExplorer.vsix file I get:

Microsoft.VisualStudio.ExtensionManager.MissingPackagePartException: This VSIX package is invalid because it does not contain the file extension.vsixmanifest at the root. The VSIX file may be corrupted.

The extension.vsixmanifest file is there though.

After doing the edits you suggest, I zip the folder, I renam

[2020-03-13 12:10] breadshort commented on #84
@gustier

You should not archive a folder, but the contents of a folder.

[2020-03-13 12:23] x123-design commented on #84
@breadshort
Ah, right, makes sense.
I dragged them out of the zip and edited and dragged back - seemed to install ok
Thanks

[2020-03-13 12:37] x123-design commented on #84
@breadshort
Ok, I have checked the extension is enabled which it is.
However, when I hit a breakpoint I expect to see the 'Export Objects' in the menu.
Any ideas how to get the exporter window?

[2020-03-13 12:53] x123-design commented on #84
@breadshort - in VS 2019

[2020-03-13 13:13] breadshort commented on #84
@gustier

Main menu -> Tools -> Export Objects

![look](https://raw.githubusercontent.com/OmarElabd/ObjectExporter/master/ObjectExporter.VsPackage/Documentation/Object%20Exporter%20-%20Tools%20Menu.png)

[2020-03-13 14:28] x123-design commented on #84
@breadshort
Yes, been using ctrl+E, ctrl+O, as no menu in VS 2019.

The Object Exporter is proving very buggy.

@anyone, Is there a commercial product that does this which supports newer versions of .net?

[2020-03-13 14:30] SteGriff commented on #84
As mentioned earlier in the thread, it's worth looking at ObjectDumper.NET, I found its output to be better, but you do need to write some code (not very difficult): https://www.nuget.org/packages/ObjectDumper.NET/

[2020-03-13 14:34] x123-design commented on #84
Nice, Thanks

[2020-03-13 14:59] bigloudjeff commented on #84
I am not affiliated with this product in any way other than being a customer. But I find [OzCode ](https://oz-code.com/debugging-redefined/)to be useful and it has an almost identical object exporting feature.
https://oz-code.com/debugging-redefined/

[2020-03-13 16:22] dharmaturtle commented on #84
I actually prefer ObjectDumper.net these days because I use a program called NCrunch that makes it simple to see the console output of tests. I have an extension method `.D()` that takes the object it's attached to and feeds it to ObjectDumper.net, which then prints it to the console. Makes me want to write tests now, as compared to being forced to do it. Unfortunately, NCrunch is not free, nor am

[2020-10-09 15:38] tahir-khalid commented on #84
Nice tool reminds me of CodeRush which I use and love.

[2020-10-16 15:51] vurso commented on #84
Looks like the author abandoned the project so I will try and pick this up with my own fork.

[2020-10-16 18:43] OmarElabd commented on #84
@vurso I just want to clarify that the project hasn't been abandoned and there are updates planned for the near future.

[2020-10-16 23:11] vurso commented on #84
Great to hear you're still here Omar look forward to the updates my friend.  Be safe and well. Peace

[2020-11-10 14:29] igoyetche commented on #84
Please update it for VS2019

[2020-12-02 19:25] redwards510 commented on #84
I did the fixes suggested by @SteGriff but I still get the "dependencies cannot be resolved" error when trying to install. this is VS 2019 Pro. Hoping for a fix because Ozcode costs money!

[2020-12-02 19:47] vurso commented on #84
Would be good to compile a list of current issues.

Personally I think my issues are to do with the version of Visual Studio
2019 in my case its Enterprise on Windows 10 LTSB so location of extensions
for example is completely not what you expect so I think once we work out
where stuff should go and someone fixes the installer should have a better
chance of working maybe?

On Wed, 2 Dec 2020 at 19

[2020-12-02 21:16] ldy985 commented on #84
Have you tried the version I compiled a long time ago? https://github.com/OmarElabd/ObjectExporter/issues/84#issuecomment-540138520

[2021-12-20 11:34] MuddyWally opened #89 "Any plans for VS2022?"
Not an issue, just a question :-)
Are there any plans to update this extension to be compatible with Visual Studio 2022 versions?

Thanks!

[2022-03-02 14:30] stowen-msft commented on #89
It is 2022 and I saw this extension and became very excited...but it will now work in VS 2022.

[2022-03-28 14:37] AlexisPambourg commented on #89
I hope, we will have an update to fix this extension with VS 2022 🥲
Or do you know an equivalent ?

[2022-04-06 11:28] ycherkes commented on #89
@MuddyWally @stowen-msft @AlexisPambourg
You can try my unofficial build of ObjectExporter until the official is released:
[ObjectExporter.zip](https://github.com/OmarElabd/ObjectExporter/files/8426411/ObjectExporter.zip)

[2022-04-29 18:18] vreniose95 commented on #84
Thanks a ton my man!
King

[2022-05-06 08:07] ycherkes commented on #89
Also, I've published a similar extension: [Object Dumper](https://marketplace.visualstudio.com/items?itemName=YevhenCherkes.YellowFlavorObjectDumper)
I'll be very appreciative if it can be found usable.

[2022-05-09 08:05] AlexisPambourg commented on #89
Thx @ycherkes, i will test it.